<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @receipt.image.url(:medium) %><br/>
  <strong>Description:</strong>
  <%= @receipt.description %>
</p>

<%= link_to 'Edit', edit_receipts_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
