<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @receipt.image.url(:thumb) %><br/>
  <strong>Description:</strong>
  <%= @receipt.description %>
</p>

<% if @receipt.user == current_user %>
   <%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<% end %>
<%= link_to 'Back', receipt_path %>


